<mat-card class="mat-elevation-z0">
    <div fxLayoutAlign="space-between">
        <fi-header>Editar Grupos de Lançamento</fi-header>
    </div>
    <mat-card-content>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let movie of filmes"  cdkDrag>
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                {{ movie }}
            </div>
        </div>

        <div *ngFor="let item of filmes">

        </div>
    </mat-card-content>
</mat-card>

