@use '@angular/material' as mat;

@include mat.core();

$mat-primary: (
  500: #EC7D10,
  A100: #6eb4ff,
  contrast: (500: #ffffff, A100: #000000, )
);

$mat-accent: (
  500: #C200FB,
  A100: #ffffff,
  contrast: (500: #ffffff, A100: #000000, )
);

$fi-theme-primary: mat.define-palette($mat-primary, 500, A100, 500);
$fi-theme-accent: mat.define-palette($mat-accent, 500, A100, 500);

$tipo: mat.define-typography-config($font-family: 'Roboto, "Helvetica Neue", sans-serif');

$fi-theme: mat.define-light-theme((color: (primary: $fi-theme-primary,
        accent: $fi-theme-accent ),
      typography: $tipo));

@include mat.typography-hierarchy($tipo);

@include mat.all-component-themes($fi-theme);
