@use "theme-variables" as *;

.container {
  height: 100%;
  overflow: hidden;
}

div.container-button{
  display: flex;
  margin-inline: auto;
  align-self: center;

  #salvar{
    margin-inline: auto;
    margin-bottom: 20px;
    width: 60%;
    height: 48px;
  }
}

mat-card {
  height: 100%;
  overflow: auto;
}

mat-card-content {
  height: auto;
}

form {
  height: 100%;
  overflow: auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary-color;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
