<div class="container">
  <mat-card class="mat-elevation-z0">
    <mat-card-title>
      <div class="header">
        <button mat-button color="primary" (click)="cancelar()">Cancelar</button>
        Adicionar Lançamento
      </div>
    </mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label> Data </mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="formAdd.controls.data" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Valor</mat-label>
          <input matInput [formControl]="formAdd.controls.valor">
        </mat-form-field>

        <mat-chip-list #chipList="matChipList" multiple>
          <mat-chip #chip="matChip"
            *ngFor="let grupo of data.gruposConta"
            (click)="select(chip)"
             [value]="grupo">
            <div class="chip">
              <mat-icon>
                {{grupo.icone}}
              </mat-icon>
              <small>{{grupo.title}}</small>
            </div>
          </mat-chip>
        </mat-chip-list>

        <mat-form-field>
          <mat-label>Tipo Conta</mat-label>
          <mat-select [formControl]="formAdd.controls.planConta">
            <mat-option *ngFor="let item of planosConta" [value]="item">
              {{item.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input matInput [formControl]="formAdd.controls.desc">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Meio Movimentação</mat-label>
          <mat-select [formControl]="formAdd.controls.meioMov">
            <mat-option *ngFor="let item of data.meiosMovimentacao" [value]="item">
              {{item.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-footer>

      <mat-card-actions>
        <div class="container-button">
          <button id='salvar' mat-flat-button color="primary" (click)="salvar()">Adicionar</button>
        </div>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
