@use "theme-variables" as *;

.container {
  height: 100%;
  overflow: hidden;
}

div.container-button {
  display: flex;
  margin-inline: auto;
  align-self: center;

  #salvar {
    margin-inline: auto;
    margin-bottom: 20px;
    width: 60%;
    height: 48px;
  }
}

mat-card {
  height: 100%;
  overflow: auto;
}

mat-card-content {
  height: auto;
}

:host .larger {
  flex-basis: 100%;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.item-flex-s {
  flex: 1;
  min-width: 140px;
  align-self: center;
}

.item-flex-l {
  flex: 2;
  min-width: fit-content;
  align-self: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary-color;
}

.chip {
  display: flex;
  align-items: center;
  gap: 4px;
}

.mat-chip-list {
  width: 99%;
}

.movs {
  display: flex;
  gap: 16px;

  .vezes {
    max-width: 64px;
  }
}

.mov {
  width: 100%;
}

.no-display {
  display: none;
}
