@use "theme-variables" as *;

mat-card {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

mat-card-title {
  text-transform: capitalize;
  color: $primary-color;
}

.timeline-dias {
  display: flex;
  justify-content: space-between;
}

.timeline-dia {
  display: flex;
  max-width: 48px;
  min-width: 48px;
  min-height: 48px;
  max-height: 48px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.timeline-dia-numero {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.timeline-semana {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
}

.selecao-dia-hoje {
  & small {
    color: $color-background-default;
  }

  border: 1px solid $primary-color;
  background-color: $primary-color;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  small {
    font-size: 10px;
  }
}

.categoria-container {
  background-color: $color-background;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.soma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & span {
    color: $primary-color;
    font-size: xx-large;
  }
}

.categorias {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.item-categoria {
  display: flex;
  width: 100%;
  justify-content: space-between;

  h3 {
    font-weight: normal;
  }
}

.categoria-content {
  overflow: auto;
  height: 85%;
}

.menu-super {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categorias mat-expansion-panel-header {
  height: auto;
  padding-block: 16px;
}

.item-financeiro {
  gap: 8px;
  display: grid;
  grid-template-columns: minmax(35px, auto) repeat(4, auto) minmax(55px, auto);
  margin-block: 16px;

  span {
    color: $primary-color;
    justify-self: flex-end;
  }
}
