@use "theme-variables" as *;

mat-card {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

mat-card-title {
  text-transform: capitalize;
  color: $primary-color;
}

.menu-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  small {
    font-size: 10px;
  }
}
