@use "theme-variables" as *;

.container-button {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

footer {
  margin-top: auto;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
}

button:not(.active-menu-item) {
  color: $color-medium-emphasis;
}

.active-menu-item {
  color: $primary-color;
}

.menu-tabs {
  min-height: 32px;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  small {
    font-size: 10px;
  }
}

:host mat-toolbar {
  height: fit-content;
}

button {
  margin: auto;
  padding: 0;
}
