@use "theme-variables" as *;
.container-button {
  margin-top: 10px;
}
footer {
  margin-top: auto;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
  height: 65px;
}

.active-menu-item {
  color: $primary-color;
}

.menu-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  small {
    font-size: 10px;
  }
}
