<footer class="footer">
  <mat-toolbar>
    <div class="container-button" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button routerLink="/home" routerLinkActive="active-menu-item">
        <div class="menu-tabs">
          <mat-icon>currency_exchange</mat-icon>
          <small>Lançamentos</small>
        </div>
      </button>

      <button mat-button routerLink="/forums" routerLinkActive="active-menu-item">
        <div class="menu-tabs">
          <mat-icon>trending_up</mat-icon>
          <small>Gráficos</small>
        </div>
      </button>

      <button mat-button routerLink="/messages" routerLinkActive="active-menu-item">
        <div class="menu-tabs">
          <mat-icon>settings</mat-icon>
          <small>Configurações</small>
        </div>
      </button>
    </div>
  </mat-toolbar>
</footer>
