@use "theme-variables" as *;

fi-header .mat-card-title {
  text-transform: none;
}

mat-card-content {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: calc(100% - 25px);
  overflow: auto;
}

.categoria-container {
  border-radius: 20px;
}

.mat-expansion-panel {
  overflow: unset;
}

mat-expansion-panel-header.categoria-container,
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus {
  height: auto;
  padding-block: 16px;
  background-color: #f8fafb;
}

.mat-expansion-panel-header.mat-expanded:hover {
  background: rgba(0, 0, 0, 0.04);
}

.mat-expansion-panel-content {
  width: 100%;
}

.itens-financeiros {
  gap: 8px;
  display: grid;
  grid-template-columns: min-content repeat(2, auto) max-content min-content;
  align-items: center;
  padding: 16px;
  margin-inline: 16px;

  span.valores:not(.nao-realizado) {
    color: $primary-color;
  }

  span.valores {
    justify-self: flex-end;
  }

  small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-disabled;
  }
}

.click:hover {
  cursor: pointer;
  background-color: rgba($primary-color, 10%);
}

mat-icon {
  color: $color-medium-emphasis;
}

button,
mat-icon,
.mat-focus-indicator {
  position: static;
}

.nao-realizado {
  color: $color-low-emphasis;
}

.actions {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  color: $color-disabled;
  margin-block: auto;
  padding-left: 16px;
  h3 {
    margin: 0;
  }
}

$back: #f8fafb;

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-block: 8px;
  display: flex;
  background-color: $back;
}

.item {
  display: flex;
  flex-direction: column;
}

.grupo {
  background-color: $back;
}

.component {
  padding: 8px;
}

div.grupo:last-of-type {
  padding-bottom: 16px;
}
