@use "theme-variables" as *;

mat-card {
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow: hidden;
}

mat-card-content {
  gap: 32px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: calc(100% - 64px);
  overflow: auto;
}

.categoria-container {
  background-color: $color-background;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.item-categoria {
  display: flex;
  width: 100%;
  justify-content: space-between;

  h3 {
    font-weight: normal;
  }
}

.soma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & span {
    color: $primary-color;
    font-size: xx-large;
  }
}
.mat-expansion-panel {
  overflow: initial;
}

mat-expansion-panel-header.categoria-container,
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus{
  height: auto;
  padding-block: 16px;
  background-color: #f8fafb;}

.mat-expansion-panel-header.mat-expanded:hover{
  background: rgba(0, 0, 0, 0.04);
}

.mat-expansion-panel-content{
  width: 100%;
}

.itens-financeiros {
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(3, min-content) repeat(2, auto) max-content min-content;
  margin-block: 16px;
  align-items: center;

  span:not(.nao-realizado) {
    color: $primary-color;
  }

  span.valores{
    justify-self: flex-end;
  }
}

mat-icon {
  color: $color-medium-emphasis;
}

.nao-realizado {
  color: $color-low-emphasis;
}

.actions {
  display: flex;
}
