@use "theme-variables" as *;

.categoria-container {
  background-color: $color-background;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.item-categoria {
  display: flex;
  width: 100%;
  justify-content: space-between;

  h3 {
    font-weight: normal;
  }
}

.soma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & span {
    color: $primary-color;
    font-size: xx-large;
  }
}

mat-expansion-panel-header.categoria-container,
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus{
  height: auto;
  padding-block: 16px;
  background-color: #f8fafb;}

.mat-expansion-panel-header.mat-expanded:hover{
  background: rgba(0, 0, 0, 0.04);
}

.item-financeiro {
  gap: 8px;
  display: grid;
  grid-template-columns: max-content repeat(2, auto) repeat(2,max-content);
  margin-block: 16px;

  span {
    color: $primary-color;
  }

  span.valores{
    justify-self: flex-end;
  }
}
