@use 'mixins' as m;
@use 'theme-variables' as *;
@use '@angular/material' as mat;

body {
  background-color: $color-background;
}

::-webkit-scrollbar {
  cursor:pointer;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #f8fafb;
  outline: 2px #f8fafb solid;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $primary-color;
  outline: 2px #f8fafb solid;
  background-clip: padding-box;
}

.primary-color {
  color: $primary-color;
}


snack-bar-container.fi-toast-container {
  position: absolute;
  bottom: 90px;
  right: 16px;
  border-radius: 16px;

  margin: 0px;
  padding: 0px;
  max-width: 450px;
}

.mat-snack-bar-handset .mat-snack-bar-container {
  width: calc(100% - 32px) !important;
  right: 0 !important;
 }

 mat-card {
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow: hidden;
}

div.mat-expansion-panel-body{
  overflow: auto;
}

.fi-body .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  gap: 16px;
}
