@use 'mixins' as m;
@use 'theme-variables' as *;

body {
  background-color: $color-background;
}

::-webkit-scrollbar {
  cursor:pointer;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #f8fafb;
  outline: 2px #f8fafb solid;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $primary-color;
  outline: 2px #f8fafb solid;
  background-clip: padding-box;
}
