:host {
  padding: 8px;
  overflow: auto;
}

.categorias {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}

.categoria-content {
  overflow: auto;
  height: 85%;
}

fi-item-grupo-lancamento {
  flex: 1;
}
