@use "theme-variables" as *;

mat-card {
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow: hidden;
}

mat-icon {
  color: $primary-color;
}

mat-card-content{
  gap: 32px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: calc(100% - 64px);
  overflow: hidden;
}
