@use "theme-variables" as *;

mat-card {
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow: hidden;
}

mat-card-content {
  gap: 32px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: calc(100% - 64px);
  overflow: hidden;
}

.features {

  mat-icon:not(.btn),
  small {
    color: $color-disabled;
  }

  display: flex;
  gap: 16px;
  align-items: center;

  span {
    color: $primary-color;
    font-weight: 500;
  }
}
