<mat-card class="mat-elevation-z0">
    <div fxLayoutAlign="space-between">
        <fi-header>Configurações</fi-header>
    </div>
    <mat-card-content>
        <mat-nav-list class="nav-list">
            <div class="menu-list-items-container">
                <!-- <fi-item-config (itemMenuClick)="close()" [url]="rotas.grupoLncto" text="Grupo Lançamento" icon="home"></fi-item-config> -->
                <fi-item-config text="Relatórios" icon="list"></fi-item-config>
                <fi-item-config text="Planejamento" icon="list"></fi-item-config>
                <fi-item-config text="Configurações" icon="settings"></fi-item-config>
            </div>
        </mat-nav-list>
    </mat-card-content>
</mat-card>
